:root {
 --content-width: 1280px;

 --main-black: #000000;
 --main-white: #e4e4e4;
 --main-red: #be3144;
 --main-blue: #45567d;
 --main-gray: #303841;

 --border-divisor-1: 1px solid rgba(0, 0, 0, 0.1);
 --border-divisor-2: 2px solid rgba(0, 0, 0, 0.1);

 --text-title: #000000;
 --text-p: #666666;

 --geist-radius: 5px;
 --geist-marketing-radius:8px;

 --shadow-smallest: 0px 2px 4px rgba(0,0,0,.1);
 --shadow-extra-small: 0px 4px 8px rgba(0,0,0,.12);
 --shadow-small: 0 5px 10px rgba(0,0,0,.12);
 --shadow-medium: 0 8px 30px rgba(0,0,0,.12);
 --shadow-large: 0 30px 60px rgba(0,0,0,.12);
 --shadow-hover: 0 30px 60px rgba(0,0,0,.12);
 --shadow-sticky: 0 12px 10px -10px rgba(0,0,0,.12);

}

* {
	margin: 0;
	padding: 0;
	}

/*box-sizing and font sizing */
*,
*::before, 
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

/*1200px / 16px = 75em*/
@media (max-width: 75em) {
	html {
		font-size: 60%;
	}
}

/*980px / 16px = 61.25em*/
@media (max-width: 61.25em) {
	html {
		font-size: 58%;
	}
}

/*460px / 16px = 28.75em*/
@media (max-width: 28.25em) {
	html {
		font-size: 55%;
	}
}

/*Base styles*/

body {
	font-family: 'Space Mono', sans-serif;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.4;
	color: var(--text-p);
}

body #magicMouseCursor {
  z-index:10000000!important;
  position: fixed;
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  background: rgba(0,0,0,0.2);
  border-radius: 50%;
  left: 0;
  top: 0;
  transition: transform 0.07s, width 0.3s, height 0.3s;
  pointer-events: none;
}
  body #magicMouseCursor.cursor-square {
  border-radius: 0; }
body #magicPointer {
  z-index:10000000!important;
  height: 5px;
  width: 5px; top: 0;
  left: 0;
  position: fixed;
  background-color: red!important;
  border-radius: 50%;
  pointer-events: none;
  transition: background 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s;
}
  body #magicPointer.is-hover {
  background-color: #fff; 
}
  body #magicPointer.pointer-blur {
  height: 50px;
  width: 50px;
  background: none;
  border: 1px solid #fff;
  box-shadow: 0px 0px 15px -5px white; 
}
  body #magicPointer.pointer-overlay {
  height: 50px;
  width: 50px;
  mix-blend-mode: difference;
  box-shadow: 0px 0px 15px -5px white; 
}
body .magic-hover {
  transition: all 0.2s;
}
  body .magic-hover:hover {
  cursor: none!important;
}

h1,
h2,
h3{
	font-family: 'Roboto', sans-serif;
  font-weight: 700;
	text-align: center;
	line-height: 1.2;
  color: var(--text-title);
  padding-bottom: 2.5rem;
}

h1 {
	font-size: 8rem;
}

h2 {
	font-size: 4.2rem;
}

h3 {
	font-size: 3.6rem;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--main-white);
}
img {
	display: block;
	width: 100%;
}

a.btn {
	/*cursor: pointer;*/
  display: inline-block;
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
	background-color: var(--main-black);
  border: 1px solid var(--main-black);
  color: var(--main-white);
}

.btn-container {
  display: flex;
  gap: 4rem;
  align-items: center;
}

a.btn-negative {
  display: inline-block;
	padding: 1.5rem 2rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  border-bottom: 1px solid #333;
  transition: all 0.3s ease-in-out;
}

a.btn-negative:hover {
  letter-spacing: 0.4rem;
}

.title-span {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2.5rem;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.2rem;
	letter-spacing: .2rem;
  padding-bottom: 2rem;
}

/*nav*/

.header {
	display: flex;
	position: fixed;
	padding: 0 2rem;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.6);
	/*background-color: var(--main-black);*/
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
	z-index: 10;
}

.header-content {
	max-width: var(--content-width);
	display: flex;
	width: 100%;
	margin: auto;
}

.logo {
	font-weight: 700;
	color: var(--main-gray);
	display: flex;
	align-items: center;
	font-size: 4rem;
	/*margin-left: 1rem;*/
}

.nav {
	display: flex;
	justify-content: flex-end ;
	width: 100%;
	margin-right: -2rem;
}

.nav-list {
	display: flex;
  /*margin-right: 2rem;*/
}

@media (max-width: 28.75em) {
	.nav {
    justify-content:end;
	}
	
	.nav-list {
		margin: 0 1rem;
	}
  
  .nav-list li {
    padding: 1.5rem 1rem!important;
  }

  .nav-list li a {
    font-size: 1.82rem;
  }
  
  .logo {
    font-size: 2.9rem;
  }
}

.nav-list a {
	display: block;
	font-size: 1.82rem;
  padding: 0.4rem;
	color: var(--text-p);
}

.nav-list  li {
  padding: 1.6rem;
}

.nav-list a:hover {
	background: var(--main-algo);
}

/*Welcome section*/

#welcome-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
  /*height: 960px;*/
  height: 760px;
  padding: 4rem auto;
}

.welcome-section-content {
  max-width: var(--content-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8rem;
}

.welcome-section-content > p {
	font-size: 2.4rem;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 7.5rem;
	max-width: 800px;
}

.testimonial-container {
	width: 100%;
	max-width: var(--content-width);
	padding-top: 4.5rem;
}

.testimonial-row {
	max-width: 900px;
	display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
}

.brands-wrap {
  display: inline-flex;
	vertical-align: middle;
	margin: 0 auto;
	max-width: 120px;
}

@media (max-width: 40em) {
  h1 {
    font-size: 4.3rem;
  }
  p {
    font-size: 1.6rem;
  }
  #welcome-section {
    height: 780px;
    padding-top: 20rem;
    padding-bottom: 20rem;
  }
  .welcome-section-content {
    margin: 5rem 2rem;
  }
  .testimonial-row {
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .brands-wrap {
    max-width: 50px;
  }
}

#about-me {
  display: flex;
  max-width: var(--content-width);
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 40px auto;
  padding-top: 80px;
}

.about-me {
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 60px;
  text-align: left;
}

.col-izq {
  width: 50%;
}

.col-der {
  width: 50%;
}

.about-me p {
  font-size: 2rem;
}

.img-about {
  height: 400px;
  object-fit: cover;
  filter: saturate(20%);
  /*border: 24px solid #222;*/
  box-shadow: -40px 40px 0px #ccc;
  transition: all 0.3s ease-in-out;
}

.img-about:hover {
  filter: saturate(100%);
  border: 0;
}

@media screen and (max-width:1000px) {
  .about-me {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .about-me {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 0;
    padding-left: 0;
  }

  .img-about {
    filter: saturate(100%);
    margin-top: -6rem;
    margin-bottom: 2rem;
  }
  .about-me p {
    text-align: left;
    padding-bottom: 4rem;
  }
}

#section-2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  width: 100%;
  height: 540px;
  background-color: #f7f7f7;
  padding: 6rem auto;
}

#section-2  p {
  text-align: center;
	display: flex;
	font-size: 2.4rem;
	padding-top: 1rem;
  /*padding-bottom: 7.5rem;*/
  padding-bottom: 1rem;
	max-width: 800px;
	line-height: 1.5;
}

.section-2-container {
  max-width: 800px;
}

@media (max-width: 40em) {
  .section-2-container {
    margin: 5rem 2rem;
  }
  #section-2 h2 {
    font-size: 36.9px;
  }
  #section-2 {
    height: 680px;
  }
}

/*Project section*/

.projects-section {
	text-align: center;
	padding: 10rem 2rem;
  margin: 6rem auto;
}

.projects-section-header {
  /*padding: 6rem 2rem;*/
}

@media (max-width: 28.75em) {
	.projects-section-header {
		font-size: 4rem;
	}
}

/*Automatic image grid using no media queries*/
.projects-grid {
	display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 8rem;
	width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
	margin-bottom: 6rem;
	padding-top: 40px;
}

@media (max-width: 30.625em) {
	.projects-section {
    padding: 1rem 1rem 6rem 1rem;
	}
	.projects-grid {
    grid-template-columns: 1fr;
	}
}

.project {
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  transition: filter 3s ease-out;
}

.code {
	color: #ffffff;
	transition: color 1s ease-out;
}

.project:hover .code {
  color: var(--main-black);
}

.project-image {
  width: 100.9%;
  height: 63%;
  object-fit: cover;
  filter: saturate(0%);
  transition: all 0.3s ease-out;
}

.project-image:hover {
  filter: saturate(100%);
  transform: translateY(-30px);
  height: 70%;
}

@media (max-width: 28.25em) {
  .project-image {
    filter: saturate(100%);
    transform: translateY(-30px);
  }
  .project-image:hover {
    filter: unset;
  }
}

.project-title {
  font-weight: 500;
	font-size: 2rem;
	padding: 2rem 2rem 1rem 0.5rem;
  color: var(--text-title);
}

.project-p {
  color: var(--text-p);
  padding: 0 3rem 3rem 3rem;
}

/*Contact section*/
footer {
  width: 100%;
  background-color: #f7f7f7;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	text-align: center;
  width: 100%;
  max-width: 880px;
	margin: auto;
  height: 640px;
  padding: 0 2rem;
}

@media (max-width: 28.25em) {
  footer {
    padding: 2rem 2rem 1rem 2rem;
  }
  .contact-section {
    height: 610px;
  }
}

.line-through {
	text-decoration: line-through;
	color: var(--main-gray);
	font-weight: 200;
}

.underlined {
  /*text-decoration: underline 2px;*/
}

@media (max-width: 28.75em) {
	.contact-section-header > h2 {
		font-size: 4rem;
	}
}

.contact-links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	max-width: 980px;
	margin-top: 4rem;
	flex-wrap: wrap;
}

.contact-details {
	font-size: 2.4rem;
	transition: transform 0.3s ease-out;
	color: var(--main-gray);
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

.contact-details:hover {
  transform: translateY(8px);
  letter-spacing: 0.4rem;
}

.contact-section-1 {
	padding-bottom: 4.5rem;
	/*border-bottom: var(--border-divisor-1);*/
}

.contact-section-1 > a{
  font-size: 3rem;
	/*font-weight: 600;*/
}

.contact-section-1, .contact-details {
	gap: 2rem;
}


@media (min-width: 60em) {
	.contact-section-2 {
		flex-direction: row;
    gap: 8rem;
	}
}

@media (max-width: 28.25em) {
  .contact-section-1 a {
    font-size: 2.3rem;
  }

  footer {
    padding-top: 10rem;
  }
  .contact-section-2 {
    padding-bottom: 10rem;
  }
}

.copyright-section {
  text-align: center;
  padding: 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 28.25em) {
  .copyright-section > span {
    display: block;
  }
}

.testimonial-slider {
	display: block;
	width: 100%;
	height: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}

.testimonial-slider ul.slider {
	 display: block;
	 list-style: none;
	 padding: 0;
	 position: relative;
	 display: inline-block;
	 width: 100%;
	 height: 350px;
	 overflow: hidden;
	 margin: 0 auto;
}

.testimonial-slider ul.slider li {
		position: absolute;
		display: block;
		width: 100%;
		opacity: 0;
		margin: 0 auto;
		text-align: center;
}
.testimonial-slider ul.slider li:nth-child(1) {
		opacity: 1;

		-webkit-animation: fade-animation-1 25s infinite;
            animation: fade-animation-1 25s infinite;
}
.testimonial-slider ul.slider li:nth-child(2) {
    -webkit-animation: fade-animation-2 25s infinite;
            animation: fade-animation-2 25s infinite;
}
.testimonial-slider ul.slider li:nth-child(3) {
    -webkit-animation: fade-animation-3 25s infinite;
            animation: fade-animation-3 25s infinite;
}
.testimonial-slider ul.slider li:nth-child(4) {
    -webkit-animation: fade-animation-4 25s infinite;
            animation: fade-animation-4 25s infinite;
}

.testimonial-slider q {
	 display: inline-block;
	 font-size: 2.8rem;
	 letter-spacing: .5pt;
	 max-width: var(--content-width);
}

.testimonial-slider .source {
	font-size: 2rem;
	font-weight: 600;
	color: var(--main-gray);
		margin-top: 25px;
}

.testimonial-slider .source-detail {
	font-size: 2rem;
	
}

/* KEYFRAME DECLARATIONS */
@keyframes fade-animation-1 {
    0%, 25%, 100% {
        opacity:0
    }
    3%, 22% {
        opacity: 1;
    }
}
@keyframes fade-animation-2 {
    0%, 25%, 50%, 100% {
        opacity:0
    }
    28%, 47% {
        opacity: 1;
    }
}
@keyframes fade-animation-3 {
    0%, 50%, 75%, 100% {
        opacity:0
    }
    53%, 72% {
        opacity: 1;
    }
}
@keyframes fade-animation-4 {
    0%, 75%, 100% {
				opacity:0
    }
    78%, 97% {
				opacity: 1;
    }
}

@-webkit-keyframes fade-animation-1 {
    0%, 25%, 100% {
        opacity:0
    }
    3%, 22% {
        opacity: 1;
    }
}
@-webkit-keyframes fade-animation-2 {
    0%, 25%, 50%, 100% {
        opacity:0
    }
    28%, 47% {
        opacity: 1;
    }
}
@-webkit-keyframes fade-animation-3 {
    0%, 50%, 75%, 100% {
        opacity:0
    }
    53%, 72% {
        opacity: 1;
    }
}
@-webkit-keyframes fade-animation-4 {
    0%, 75%, 100% {
        opacity:0
    }
    78%, 97% {
        opacity: 1;
    }
}

.video-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
}

.text-box {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: multiply;
}

.text-box h2 {
  font-size: 200px;
  font-weight: 900;
  color: #fff;
}

.banner-video-typo {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8rem;
}

.first-b .banner-video-typo {
  margin: 0;
}

.welcome-section {
  margin-top: -100px;
  margin-bottom: -100px;
}

.first-b  a.btn-negative {
  margin-top: 30px!important;
}

.first-b .banner-video-typo h2{
 padding-top: 2.5rem;
}

@media screen and (max-width: 28.04em) {
  .first {
    display: none!important;
  }
}

@media screen and (min-width:28.04em) {
  .first-b {
    display: none!important;
  }
}

.banner-video-typo video {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.banner-video-typo h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  font-size:  15.35rem;
  color: #333;
  letter-spacing: 3rem;
  border: 1px dotted #333;
  padding-left: 40px;
  transition: border 0.3s ease-in-out;
}

.banner-video-typo h2:hover {
  mix-blend-mode: screen;
  border: none
}

.typewriter {
  overflow: hidden;
  padding-top: 80px;
}

@media screen and (max-width: 600px) {
  .typewriter {
    padding-top: 40px;
  }
}

.typewriter h2,
.typewriter h3 {
  text-align: center;
  font-size: 16rem;
  letter-spacing: 3rem;
  /*white-space: nowrap;*/
  width: 100%;
  margin: 0;
  /*animation: typewriter 36s linear infinite;*/
  color: #fff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #333;
  text-shadow: none;
  padding-left: 30px;
}

@media screen and (max-width: 1300px) {
  .typewriter h2,
  .typewriter h3,
  .banner-video-typo h2{
    font-size: 12rem;
  }
  .banner-video-typo {
    height: 310px;
  }
}

@media screen and (max-width: 1200px) {
  .banner-video-typo h2 {
    font-size: 11rem;
  }
  .banner-video-typo {
    height: 270px;
  }
}

@media screen and (max-width: 1100px) {
  .typewriter h2,
  .typewriter h3 
  .banner-video-typo h2{
    font-size: 9rem;
  }
}

@media screen and (max-width: 900px) {
  .typewriter h2,
  .typewriter h3,
  .banner-video-typo h2{
    font-size: 9rem;
  }
  .banner-video-typo {
    height: 210px;
  }
}

@media screen and (max-width: 724px) {
  .typewriter h2,
  .typewriter h3,
  .banner-video-typo h2{
    letter-spacing: 2.3rem;
    font-size: 6rem;
  }
  .banner-video-typo {
    height: 140px;
  }
}

@media (max-width: 28.25em) {
  .typewriter h2,
  .typewriter h3,
  .banner-video-typo h2{
    width: 100%;
    font-size: 5rem;
    letter-spacing: 1.3rem;
    /*animation: typewriter 20s linear infinite;*/
    -webkit-text-stroke-color: unset;
    -webkit-text-stroke-color: unset;
    color: #333!important;
    padding-left: 5px;
  }
  .banner-video-typo {
    height: 112px;
  }
  .typewriter h3 {
    -webkit-text-stroke: 1px!important;
  }
}

.typewriter h2 {
  color: #333;
  -webkit-text-stroke: unset;
}

@keyframes typewriter {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.typewriter h3 {
  font-weight: 600;
  animation-direction: reverse;
  color: #fff;
  -webkit-text-fill-color: #fff;
}

.vertical-line {
  width: 1px;
  height: 60px;
  background-color: #333;
  color: #333;
  display: flex;
  vertical-align: middle;
  margin: 0 auto;
}

/*section heading nueva*/
.data-post {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-large {
  position: relative;
  z-index: 1;
  max-width: 1860px;
  margin-right: auto;
  margin-left: auto;
}

.text-width-statement {
  position: relative;
  left: 2rem;
  z-index: 10;
  width: 67rem;
}

.heading-lg {
  font-size: 10rem;
  font-family: Inter;
  font-weight: 900;
}

.space-larger {
  width: 100%;
  height: 16rem;
}

.clients {
  max-width: var(--content-width);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

#section-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 720px;
  background-color: #fff;
  padding: 6rem auto;
}

#section-details h2 {
  font-size: 5.5rem;
}

#section-details p {
  text-align: center;
  display: flex;
  font-size: 2.4rem;
  padding-bottom: 7.5rem;
  max-width: 800px;
  line-height: 1.5;
}

.section-details-container {
  max-width: 800px;
}
