:root {
 --content-width: 1460px;

 --main-black: #000000;
 --main-white: #e4e4e4;
 --main-red: #be3144;
 --main-blue: #45567d;
 --main-gray: #303841;
 --background-mate: #F4EFE2;

 --border-divisor-1: 1px solid rgba(0, 0, 0, 0.1);
 --border-divisor-2: 2px solid rgba(0, 0, 0, 0.1);

 --text-title: #000000;
 --text-p: #666666;

 --geist-radius: 5px;
 --geist-marketing-radius:8px;

 --shadow-smallest: 0px 2px 4px rgba(0,0,0,.1);
 --shadow-extra-small: 0px 4px 8px rgba(0,0,0,.12);
 --shadow-small: 0 5px 10px rgba(0,0,0,.12);
 --shadow-medium: 0 8px 30px rgba(0,0,0,.12);
 --shadow-large: 0 30px 60px rgba(0,0,0,.12);
 --shadow-hover: 0 30px 60px rgba(0,0,0,.12);
 --shadow-sticky: 0 12px 10px -10px rgba(0,0,0,.12);

}

* {
	margin: 0;
	padding: 0;
	}

/*box-sizing and font sizing */
*,
*::before, 
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

/*1200px / 16px = 75em*/
@media (max-width: 75em) {
	html {
		font-size: 60%;
	}
}

/*980px / 16px = 61.25em*/
@media (max-width: 61.25em) {
	html {
		font-size: 58%;
	}
}

/*460px / 16px = 28.75em*/
@media (max-width: 28.25em) {
	html {
		font-size: 55%;
	}
}

/*Base styles*/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.4;
	color: var(--text-p);
}

@media screen and (min-width:30em) {
  body {
  padding: 0 10rem!important;
  }
}

body::-webkit-scrollbar {
}

/* Estilos del botón del Hero */
.btn-hero {
    display: inline-block;
    /* padding: 15px 30px; */
    border-bottom: 1px solid #333;
    background-color: #fff;
    color: #333;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 4px;


/* Personaliza según tu diseño */


body #magicMouseCursor {
  z-index:10000000!important;
  position: fixed;
  width: 35px;
  height: 35px;
  border: 1px solid rgba(0,0,0,.2)!important;
  background: rgba(0,0,0,0.0)!important;
  border-radius: 50%;
  left: 0;
  top: 0;
  transition: transform 0.07s, width 0.3s, height 0.3s;
  pointer-events: none;
}
body #magicMouseCursor.cursor-square {
  border-radius: 0; 
}
body #magicPointer {
  z-index:10000000!important;
  height: 15px;
  width: 15px;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #333!important;
  border-radius: 50%;
  pointer-events: none;
  transition: background 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s;
}
  body #magicPointer.is-hover {
  background-color: #fff; 
}
body #magicPointer.pointer-blur {
  height: 160px!important;
  width: 160px!important;
  background: none;
  border: 1px solid rgba(0,0,0,.1)!important;
  background-color: rgba(0,0,0,.0)!important;
  box-shadow: 0px 0px 15px -5px white; 

}
body #magicPointer.pointer-overlay {
  height: 50px;
  width: 50px;
  mix-blend-mode: difference;
  box-shadow: 0px 0px 15px -5px white; 
}
body .magic-hover {
  transition: all 0.2s;
}
body .magic-hover:hover {
  cursor:pointer!important;
}

h1,
h2,
h3{
	font-family: 'Roboto', sans-serif;
  font-weight: 400;
  /*text-transform: uppercase;*/
	text-align: center;
	/*line-height: 1.2;*/
  color: var(--text-title);
  padding-bottom: 2.5rem;
  letter-spacing: 10px;
}

h1 {
  font-size: 8rem;
}

h2 {
	/*font-size: 4.2rem;*/
  font-size: 8rem;
}

h3 {
  font-size: 6rem;
  text-align: left;
}

@media screen and (max-width: 30em) {
  h2,
  h3 {
  font-size: 4.2rem;
  }

}

p {
  font-size: 1.8rem;
  /*margin-top: 9rem;*/
  margin-bottom: 2rem;
  color: #666!important;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--main-white);
}
img {
	display: block;
	width: 100%;
}

a.btn {
  display: inline-block;
  width: 280px;
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  background-color: var(--main-black);
  border: 1px solid var(--main-black);
  color: #fff!important;
  text-align: center;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

a.btn-negative {
  display: inline-block;
  width: 280px;
  padding: 1.5rem 2rem;
  letter-spacing: 0.2rem;
  /*font-weight: 700;*/
  color: var(--main-black);
  text-transform: uppercase;
  border: 2px dotted var(--main-black);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

a.btn-negative:hover,
a.btn:hover {
  letter-spacing: 0.8rem;
}

.title-span {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2.5rem;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.2rem;
  letter-spacing: .2rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 28.04em) {
  .first {
    padding: 2rem;
  }
  a.btn,
  a.btn-negative {
    width: 100%;
  }
}

/*nav*/

.header {
	display: flex;
	position: fixed;
	background: #fff;
	z-index: 1000000;
  	padding: 1rem 2rem;
	top: 0;
	left: 0;
	width: 100%;
  	*
}

.header-content {
	max-width: var(--content-width);
	display: flex;
	width: 100%;
	margin: auto;
}

.logo {
	font-weight: 700;
	color: var(--main-gray);
	display: flex;
	align-items: center;
  font-size: 4rem;
  letter-spacing: 0.1rem;
}

.nav {
	display: flex;
	justify-content: flex-end ;
	width: 100%;
	margin-right: -2rem;
}

.nav-list {
	display: flex;
  gap: 6rem;
}

.nav-list a {
  text-transform: lowercase;
}

@media (max-width: 28.75em) {
	.nav {
    justify-content:end;
	}
	
  .header {
    padding: 2rem;
  }

	.nav-list {
    margin: 0 1rem;
    gap: 1rem;
	}
  
  .nav-list li {
    text-decoration: 1px underline;
    text-underline-offset: 1rem;
    padding: 1.5rem 1rem!important;
  }

  .nav-list li a {
    font-size: 1.4rem;
  }
  
  .logo {
    font-size: 2.9rem;
  }
}

.nav-list a {
	display: block;
	font-size: 1.82rem;
  padding: 0.4rem;
	color: var(--text-p);
}

.nav-list  li {
  padding: 1.6rem;
  letter-spacing: 0.4rem;
  text-transform: capitalize;
}

.nav-list li:hover {
  text-decoration: 1px underline;
  text-underline-offset: 1rem;
}

/*Welcome section*/

#welcome-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
  max-width: var(--content-width);
  /*height: 760px;*/
  padding: 4rem auto;
  margin: auto;
}

.marquee-container {
  position: relative;
  display: block;
  width: 100%;
  /*max-width: 100%;*/
  max-width: var(--content-width);
  margin: -1rem auto 2rem auto;
  height: 30px;
  overflow: hidden;
  line-height: 30px;
  letter-spacing: 4px;
  font-family: roboto;
  text-transform: uppercase;
  background-color: #333;
  color: #eee;
  margin: auto;
  padding: 10px;
  margin-top: 14rem;
}

.marquee-container-negative {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  max-width: var(--content-width);
  margin: -1rem auto 2rem auto;
  height: 30px;
  overflow: hidden;
  line-height: 30px;
  letter-spacing: 4px;
  font-family: roboto;
  text-transform: uppercase;
  border-top: 1px solid #222;
  background-color: #222;
  color: #ccc;
  border-bottom: 1px solid #222;
  margin: auto;
  padding: 15px;
  margin-top: 14rem;
  transform: rotate(-5deg);
  margin-bottom: 100px;
}


@media screen and (max-width:30em) {
  .marquee-container {
    margin: -3rem auto 8rem;
  }
  .hide-mobile {
    display: none;
    visibility: hidden;
  }
}

.marquee {
  display: flex;
  justify-content: space-around;
  top: 0;
  left: -100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
  -webkit-text-stroke: 2px solid red;
}

.marquee2 {
  display: flex;
  justify-content: space-around;
  animation-delay: 15s;
}

@keyframes marquee {
  0% {
    left: -100%;
  }
  100% {
    left: 100%
  }
}
.welcome-section-content {
  max-width: var(--content-width);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  padding: 17rem 0;
  padding-right: 20rem;
  margin: 8rem auto;
}

@media screen and (max-width:68.04em) {
  .welcome-section-content {
    padding: 16rem 1rem;
    /*margin: 0!important;*/
  }
  .welcome-section-content p {
    width: 100%!important;
  }
}

@media screen and (min-width: 700px ) {
  .welcome-section-content > p {
    width: 33%;
  }
}

.testimonial-container {
	width: 100%;
	max-width: var(--content-width);
	padding-top: 4.5rem;
}

.testimonial-row {
	max-width: 900px;
	display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
}

.brands-wrap {
  display: inline-flex;
	vertical-align: middle;
	margin: 0 auto;
	max-width: 120px;
}

@media (max-width: 40em) {
  h1 {
    font-size: 4.3rem;
  }
  p {
    font-size: 1.9rem!important;
  }
  #welcome-section {
    height: 780px;
    padding-top: 20rem;
    padding-bottom: 20rem;
  }
  .welcome-section-content {
    margin: 5rem 1rem 4rem 1rem;
    padding-top: 16rem;
  }
  .testimonial-row {
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .brands-wrap {
    max-width: 50px;
  }
}

#about-me {
  display: flex;
  max-width: var(--content-width);
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0px auto;
}

.about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:8rem;
  padding: 60px 0rem;
  text-align: left;
  margin-top: -28rem;
}

.about-me h2 {
  font-weight: 500;
  text-align: center;
  line-height: 1.2;
  /*letter-spacing: 16px;*/
}

.col-izq {
  width: 50%;
}

.col-der {
  text-align: left;
  width: 50%;
}

.about-me p {
  
    font-size: 2.8rem !important;
    letter-spacing: 4.25px;
    font-weight: 300;
    line-height: 1.5em;
}

.img-about {
  z-index: 1;
  height: 980px;
  object-fit: cover;
  filter: saturate(20%);
  transition: all 0.3s ease-in-out;
}

.img-about:hover {
  filter: saturate(100%);
}

@media screen and (max-width:1000px) {
  .about-me {
    max-width: 100%;
  }
}

@media screen and (max-width:30em) {
  .img-about {
    /*box-shadow: none;*/
    width: 100%;
    height: 490px;
    object-fit: cover;
    margin-bottom: -3rem!important;
  }
  .about-me {
    padding-top: 0px;
    margin: 0 2rem;
  }
  .col-izq,
  .col-der {
    width: 100%;
    /*padding: 2rem;*/
    margin: 0;
  }

  .col-der {
    /*border-left: 2px dotted rgba(0,0,0,.4);*/
    padding-left: 0;
    margin-left: 0;
    margin-bottom: -6rem;
  }
  #about-me {
    padding: 2rem 0rem 8em 0;
  }
}

@media screen and (max-width: 600px) {
  .about-me {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 0;
    padding-left: 0;
  }

  .img-about {
    filter: saturate(100%);
    margin-top: -6rem;
    margin-bottom: 2rem;
  }
  .about-me p {
    text-align: left;
    padding-bottom: 4rem;
    padding-top: 8px;
  }
}

#section-2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  width: 100%;
  height: 540px;
  background-color: #f7f7f7;
  padding: 6rem auto;
}

#section-2  p {
  text-align: center;
	font-size: 2.4rem;
  padding-top: 1rem;
  /*margin-bottom: 6rem;*/
  padding-bottom: 1rem;
  max-width: 800px;
  margin: auto;
}

#section-2 h2 {
  font-size: 8rem;
  text-align: center;
}

@media (max-width: 40em) {
  .section-2-container {
    margin: 5rem 2rem;
  }
  #section-2 h2 {
    font-size: 36.9px;
  }
  #section-2 {
    height: 680px;
  }
}

/*Project section*/

.projects-section {
	text-align: center;
  /*padding: 10rem 2rem;*/
  margin: 0rem auto 6rem auto;
}

.projects-section-header {
  padding: 3rem 0;
}

@media (max-width: 28.75em) {
	.projects-section-header {
    font-size: 4rem;
    padding: 8rem 0 3rem 0;
	}
  .projects-section {
    margin: 0 1rem 6rem 1rem;
    padding: 6rem;
  }
}

/*Automatic image grid using no media queries*/
.projects-grid {
  display: flex;
  flex-direction: column;
  /*justify-content: flex-end;*/
  align-items: flex-end;
  /*grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));*/
  gap:  15rem;
  max-width: var(--content-width);
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.projects-grid a:nth-child(odd){
  justify-content: flex-start;
  align-self: flex-start;
}

.projects-grid:nth-child(even) {
  flex-direction: row-reverse;
}

@media (max-width: 30.625em) {
	.projects-section {
    padding: 1rem;
	}
	.projects-grid {
    grid-template-columns: 1fr;
    gap: 4rem;
	}
}

.project {
  overflow: hidden;
  transition: filter 3s ease-out;
}

.code {
	color: #ffffff;
	transition: color 1s ease-out;
}

.project:hover .code {
  color: var(--main-black);
}

@media screen and (max-width: 30em) {
  .code:hover,
  .code {
    display: none;
    font-size: 0;
    visibility: hidden;
  }
  
}

.project-image {
  max-width: 800px;
  max-height: 800px;
  height: 600px;
  object-fit: cover;
  filter: saturate(4%);
  transition: all 1s ease-out;
}

@media screen and (max-width: 30em) {
  .project-image {
    width: 100%;
    height: 260px;
  }
  .projects-grid {
    gap: 8rem;
  }
  .projects-grid h3 {
    padding-top: 2rem;
    font-size: 2.4rem;
    padding-right: 0;
  }
}

.project-image:hover {
  filter: saturate(100%);
}

@media (max-width: 28.25em) {
  .project-image {
    filter: saturate(100%);
  }
  .project-image:hover {
    filter: unset;
  }
}

.project-title {
  font-weight: 500;
  font-size: 2.4rem;
  padding: 4rem 4rem 0 0;
  color: var(--text-title);
  text-align: left;
  transition: letter-spacing 500ms ease;
}

.project-p {
  color: var(--text-p);
  text-align: left;
}

/*Contact section*/
footer {
  width: 100%;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	text-align: center;
  width: 100%;
  max-width: 880px;
  margin: 0 auto 2rem auto;
  height: 600px;
  padding: 0 2rem;
}

@media (max-width: 28.25em) {
  footer {
    padding: 2rem 2rem 1rem 2rem;
  }
  .contact-section {
    height: 610px;
  }
}

.line-through {
	text-decoration: line-through;
	color: var(--main-gray);
	font-weight: 200;
}

@media (max-width: 28.75em) {
	.contact-section-header > h2 {
		font-size: 4rem;
	}
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}


@media screen and (max-width:30em) {
  .contact-links {
    flex-direction: column;
    margin-top: 4rem;
  }
}

.contact-details {
  font-size: 2.4rem;
  transition: transform 0.3s ease-out;
  color: var(--main-gray);
  letter-spacing: 0.4rem;
}

.contact-section-1 {
	padding-bottom: 4.5rem;
}

.contact-section-1 > a{
  font-size: 8rem;
  font-family: Roboto, sans-serif;
  padding-bottom: 4rem;
  text-decoration: 1px underline;
  text-underline-offset: 3rem;
}

@media screen and (max-width: 1370px) {
  .contact-section-1 > a {
    font-size: 6rem;
  }
}

@media screen and (max-width: 1028px) {
  .contact-links {
    flex-direction: column;
    gap: 4rem;
  }
  .contact-section-1 > a {
    font-size: 3rem;  
  }
}

@media (min-width: 60em) {
	.contact-section-2 {
    flex-direction: row;
    gap: 8rem;
	}
}

@media (max-width: 28.25em) {
  footer {
    padding-top: 10rem;
    padding: 0;
  }
  .contact-details {
    padding-bottom: 4rem;
    text-decoration: 1px underline;
    text-underline-offset: 1rem;
    font-size: 2rem;
  }
  .contact-section-1 > a {
    font-size: 2rem;  
  }

}

.copyright-section {
  text-align: center;
  padding: 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 28.25em) {
  .copyright-section > span {
    display: block;
  }
}

/*.testimonial-slider {*/
	/*display: block;*/
	/*width: 100%;*/
	/*height: auto;*/
	/*margin-top: 100px;*/
	/*margin-bottom: 100px;*/
/*}*/

/*.testimonial-slider ul.slider {*/
	 /*display: block;*/
	 /*list-style: none;*/
	 /*padding: 0;*/
	 /*position: relative;*/
	 /*display: inline-block;*/
	 /*width: 100%;*/
	 /*height: 350px;*/
	 /*overflow: hidden;*/
	 /*margin: 0 auto;*/
/*}*/

/*.testimonial-slider ul.slider li {*/
		/*position: absolute;*/
		/*display: block;*/
		/*width: 100%;*/
		/*opacity: 0;*/
		/*margin: 0 auto;*/
		/*text-align: center;*/
/*}*/
/*.testimonial-slider ul.slider li:nth-child(1) {*/
		/*opacity: 1;*/

		/*-webkit-animation: fade-animation-1 25s infinite;*/
            /*animation: fade-animation-1 25s infinite;*/
/*}*/
/*.testimonial-slider ul.slider li:nth-child(2) {*/
    /*-webkit-animation: fade-animation-2 25s infinite;*/
            /*animation: fade-animation-2 25s infinite;*/
/*}*/
/*.testimonial-slider ul.slider li:nth-child(3) {*/
    /*-webkit-animation: fade-animation-3 25s infinite;*/
            /*animation: fade-animation-3 25s infinite;*/
/*}*/
/*.testimonial-slider ul.slider li:nth-child(4) {*/
    /*-webkit-animation: fade-animation-4 25s infinite;*/
            /*animation: fade-animation-4 25s infinite;*/
/*}*/

/*.testimonial-slider q {*/
	 /*display: inline-block;*/
	 /*font-size: 2.8rem;*/
	 /*letter-spacing: .5pt;*/
	 /*max-width: var(--content-width);*/
/*}*/

/*.testimonial-slider .source {*/
	/*font-size: 2rem;*/
	/*font-weight: 600;*/
	/*color: var(--main-gray);*/
		/*margin-top: 25px;*/
/*}*/

/*.testimonial-slider .source-detail {*/
	/*font-size: 2rem;*/
	
/*}*/

/* KEYFRAME DECLARATIONS */
/*@keyframes fade-animation-1 {*/
    /*0%, 25%, 100% {*/
        /*opacity:0*/
    /*}*/
    /*3%, 22% {*/
        /*opacity: 1;*/
    /*}*/
/*}*/
/*@keyframes fade-animation-2 {*/
    /*0%, 25%, 50%, 100% {*/
        /*opacity:0*/
    /*}*/
    /*28%, 47% {*/
        /*opacity: 1;*/
    /*}*/
/*}*/
/*@keyframes fade-animation-3 {*/
    /*0%, 50%, 75%, 100% {*/
        /*opacity:0*/
    /*}*/
    /*53%, 72% {*/
        /*opacity: 1;*/
    /*}*/
/*}*/
/*@keyframes fade-animation-4 {*/
    /*0%, 75%, 100% {*/
				/*opacity:0*/
    /*}*/
    /*78%, 97% {*/
				/*opacity: 1;*/
    /*}*/
/*}*/

/*@-webkit-keyframes fade-animation-1 {*/
    /*0%, 25%, 100% {*/
        /*opacity:0*/
    /*}*/
    /*3%, 22% {*/
        /*opacity: 1;*/
    /*}*/
/*}*/
/*@-webkit-keyframes fade-animation-2 {*/
    /*0%, 25%, 50%, 100% {*/
        /*opacity:0*/
    /*}*/
    /*28%, 47% {*/
        /*opacity: 1;*/
    /*}*/
/*}*/
/*@-webkit-keyframes fade-animation-3 {*/
    /*0%, 50%, 75%, 100% {*/
        /*opacity:0*/
    /*}*/
    /*53%, 72% {*/
        /*opacity: 1;*/
    /*}*/
/*}*/
/*@-webkit-keyframes fade-animation-4 {*/
    /*0%, 75%, 100% {*/
        /*opacity:0*/
    /*}*/
    /*78%, 97% {*/
        /*opacity: 1;*/
    /*}*/
/*}*/

.video-container {
  width: 100%;
  height: 10vh;
  position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
}

.banner-video-typo {
  z-index: 1000;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12rem auto 8rem auto;
}

.banner-video-typo h2 {
  z-index: 1000000;
}

.welcome-section {
  margin-top: -100px!important;
  margin-bottom: -100px!important;
}

@media screen and (max-width30em) {
  .welcome-section-content {
    border-right: none;
  }
}

.welcome-section h2 {
  text-align: left;
  line-height: 1.2;
}

@media screen and (min-width:1000px) {
  .welcome-section h2 {
    font-size: 8rem;
  }
}

.welcome-section p {
  padding-bottom: 6rem;
  text-align: left;
}

.first p {
  font-family: 'Roboto', Sans-erif;
  max-width: 900px;
  margin-top: -3rem;
  margin-bottom: 6rem;
  font-size: 2.4rem;
  text-align: left;
}

@media screen and (max-width: 28.04em) {
  #welcome-section {
    padding-top: 4rem!important;
    padding-bottom: 0;
    height: 100%;
  }
}

.banner-video-typo video {
  width: 100%;
  height: 290px;
  object-fit: cover;
}

.banner-video-typo h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  font-size:  12rem;
  text-align: left;
  line-height: 1;
  color: #333;
  font-weight: 500;
  padding-left: 10px;
  /*mix-blend-mode: screen;*/
}

.typewriter {
  overflow: hidden;
  /*padding-top: 80px;*/
}

@media screen and (max-width: 600px) {
  .typewriter {
    padding-top: 40px;
  }
}

.typewriter h2,
.typewriter h3 {
  /*max-width: var(--content-width);*/
  text-align: center;
  font-size: 16rem;
  letter-spacing: 3rem;
  white-space: nowrap;
  font-weight: 400;
  width: 100%;
  margin: 0;
  /*animation: typewriter 36s linear infinite;*/
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #333;
  text-shadow: none;
  padding-left: 13rem;
  line-height: 1;
}

.word-1,
.word-2 {
  display: block;
  font-size: 13.3rem;
  font-weight: 500;
  font-family: roboto;
  text-align: left!Important;
}

.active {
  display: block;
  font-size: 6rem;
  text-decoration: 6px solid underline;
  text-underline-offset: 2rem;
  margin-top: 8rem;
  text-align: left!important;
}

@media screen and (max-width: 30em) {
  .active {
    font-size: 2rem;
    margin-top: -40rem;
  }
}

span.dreams {
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: white;
}

@media screen and (max-width: 30em) {
  span.word-1,
  span.word-2 {
    font-size: 8rem;
    letter-spacing: 2px;
  }
  span.active {
    font-size: 2rem;
    letter-spacing: 2px;
  }
  span.dreams {
    font-size: 6.2rem;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 1300px) {
  .typewriter h2,
  .typewriter h3,
  .banner-video-typo h2{
    font-size: 10rem;
  }
  #welcome-section{
    height: unset;
  }
}

@media screen and (max-width: 1600px) {
  .banner-video-typo {
    margin: 0;
    margin-bottom: 6rem;
    margin-top: 6rem;
  }
}

@media screen and (max-width: 1300px) {
  .banner-video-typo {
    margin-top: 12rem;
  }
}

@media screen and (max-width: 1200px) {
  .banner-video-typo h2 {
    font-size: 10rem;
  }
  .banner-video-typo {
  height: 250px;
}
  .active {
    display: inline-block;
  }
}

@media screen and (min-width: 1000px) {
  .dreams {
    display: inline-block;
    padding-left: 26px;
  }
}


@media screen and (max-width: 1100px) {
  .typewriter h2,
  .typewriter h3 
  .banner-video-typo h2{
    font-size: 9rem;
  } 
}

@media screen and (max-width: 900px) {
  .typewriter h2,
  .typewriter h3,
  .banner-video-typo h2{
    font-size: 11rem;
  }
  .banner-video-typo {
  height: 190px;
  }
}

@media screen and (max-width: 724px) {
  .typewriter h2,
  .typewriter h3,
  .banner-video-typo h2{
    letter-spacing: 2.3rem;
    font-size: 9rem;
  }
  .banner-video-typo {
    height: 170px;
  }
}

@media (max-width: 28.25em) {
  .typewriter h2,
  .typewriter h3,
  .banner-video-typo h2{
    width: 100%;
    font-size: 8.4rem;
    font-weight: 500;
    -webkit-text-stroke-color: unset;
    -webkit-text-stroke-color: unset;
    color: #333!important;
    padding-left: 0px;
  }

  .active {
    display: inline-block;
  }

  .banner-video-typo {
    margin: 6rem;
  }
  .typewriter h3 {
    -webkit-text-stroke: 1px!important;
  }
}

.typewriter h2 {
  color: #333;
  -webkit-text-stroke: unset;
}

@keyframes typewriter {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.typewriter h3 {
  font-weight: 600;
  animation-direction: reverse;
  color: #fff;
  -webkit-text-fill-color: #fff;
}

.vertical-line {
  width: 1px;
  height: 60px;
  background-color: #333;
  color: #333;
  display: flex;
  vertical-align: middle;
  margin: 0 auto;
}

/*section heading nueva*/
.data-post {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-large {
  position: relative;
  z-index: 1;
  max-width: 1860px;
  margin-right: auto;
  margin-left: auto;
}

.text-width-statement {
  position: relative;
  left: 2rem;
  z-index: 10;
  width: 67rem;
}

.heading-lg {
  font-size: 10rem;
  font-family: Inter;
  font-weight: 900;
}

.space-larger {
  width: 100%;
  height: 16rem;
}

.clients {
  max-width: var(--content-width);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

#section-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 720px;
  background-color: #fff;
  padding: 6rem auto;
}

#section-details h2 {
  font-size: 5.5rem;
}

#section-details p {
  text-align: center;
  display: flex;
  font-size: 2.4rem;
  padding-bottom: 7.5rem;
  max-width: 800px;
  line-height: 1.5;
}

.section-details-container {
  max-width: 800px;
}

.span-underline {
  text-decoration: underline 1px;
  text-underline-offset: 1.8rem;
}

@media screen and (max-width: 30em) {
  .span-underline {
  text-underline-offset: .8rem;
}
}

img {
  border-radius: 18px;
}
